<h1>
	{{board.title}}
	<small class="text-muted">
		{{board.name}}
	</small>
</h1>
<table class="table">
	{{#each threads}}
		<tr>
			<td>
				<a href="/thread/{{this._id}}" style="color: #000">
					{{this.title}}
					({{this.count}})
				</a>
			</td>
		</tr>
	{{/each}}
</table>
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-create">새 스레드 추가</button>
<div class="modal fade" id="modal-create" tabindex="-1" aria-labelledby="label-modal-create" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<form method="post">
				<div class="modal-header">
					<h5 class="modal-title" id="label-modal-create">새 스레드 추가</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="form-floating">
						<input type="text" id="input-title" name="title" class="form-control" required>
						<label for="input-title">제목</label>
					</div>
					<textarea class="form-control" id="input-content" name="content" rows="5" required></textarea>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary">작성</button>
				</div>
			</form>
		</div>
	</div>
</div>